/node_modules
/dist
/.env
.DS_Store
/logs
/coverage
*.log
*.tmp
.idea/
.vscode/
*.swp
*.bak
*.old
/build
/.cache 
/.next
/out
/public/static
/.turbo
/.vercel
/.netlify
/.parcel-cache
/.expo
/.firebase
/.nuxt
/.serverless
/.yalc
/.pnp
/.pnp.js
pos-print-agent.exe